<link rel="stylesheet" type="text/css" href="../css/western.css">
<footer role="contentinfo">
  <div>
        <p class="feedback">
            <a href="mailto:webhelp@wwu.edu">Feedback</a>
        </p>
        <p class="contact">
      <a href="contact.shtml">Contact Us</a> </p>
  </div>
</footer>
<subfooter role="contentinfo">
    <div>
        <p class="page-last-updated">
            Page Updated 
            <!--#config timefmt="%m/%d/%Y"--> 
            <!--#echo var="LAST_MODIFIED"-->
        </p>
        <p class="western-copyright">
            Copyright &copy; 
            <!--#config timefmt="%Y"--> 
            <!--#echo var="DATE_LOCAL"--> 
            <a href="http://www.wwu.edu">Western Washington University</a>
        </p>
    </div>
</subfooter>