<link rel="stylesheet" type="text/css" href="../css/western.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<div class="zen-wrapper">
<header role="banner">
    <a href="http://www.wwu.edu" class="western-logo" alt="Western Washington University"></a>
    <a href="/lite-template" class="site-name">
    	<div class="name-container">
		    <!-- Your site's title in the banner -->
		    <!-- Remove the "class=hide-desktop" class if you are *not* using a title in the banner image -->
		    <span class="hide-desktop">Western Responsive Lite Template</span>
    	</div>
    </a>
        <nav role="navigation" aria-label="University Links, Search, and Navigation">
        <div class="western-quick-links" aria-label="Western Quick Links">
          <button role="button" aria-pressed="false" aria-label="Toggle Quick Links">Toggle Quick Links</button>
          <ul>
            <li><a href="http://www.wwu.edu/academic_calendar" title="Calendar">
            	<span aria-hidden="true">c</span> <span>Calendar</span>
            </a></li>
            <li><a href="http://www.wwu.edu/directory" title="Directory">
            	<span aria-hidden="true">d</span> <span>Directory</span>
            </a></li>
            <li><a href="http://www.wwu.edu/index" title="Index">
            	<span aria-hidden="true">i</span> <span>Index</span>
            </a></li>
            <li><a href="http://www.wwu.edu/campusmaps" title="Map">
            	<span aria-hidden="true">l</span> <span>Map</span>
            </a></li>
            <li><a href="http://mywestern.wwu.edu" title="myWestern">
            	<span aria-hidden="true">w</span> <span>myWestern</span>
            </a></li>
          </ul>
        </div>
    	
        <div class="western-search" role="search" aria-label="University and Site Search">
            <button role="button" aria-pressed="false" aria-label="Open the search box">Open Search</button>
            <div class="western-search-widget">
                <form method="get" action="http://search.wwu.edu/search">
                    <div class="western-search-terms">
                        <label>Enter the terms you wish to search for.</label>
                        <input placeholder="Search this site">
                    </div>
                    <div class="western-search-type-toggle">    
                        <input type="checkbox" id="western-search-western">
                        <label for="western-search-western">Search Western</label>
                    </div>    
                    <input type="submit" value="Search">
                    
                    <input type="hidden" name="client" value="default_frontend">
                    <input type="hidden" name="output" value="xml_no_dtd">
                    <input type="hidden" name="proxystylesheet" value="default_frontend">
                    <input type="hidden" name="sort" value="date:D:L:d1">
                    <input type="hidden" name="oe" value="UTF-8">
                    <input type="hidden" name="ie" value="UTF-8">
                    <input type="hidden" name="ud" value="1">
                    <input type="hidden" name="exclude_apps" value="1">
                    <input type="hidden" name="filter" value="0"/>
          
                    <!-- Change the "sharename" to match your search "Collection" name. Contact web.help@wwu.edu for help. -->
                    <input type="hidden" name="site" value="sharename">
                </form>
            </div>
        </div>
        
        <button class="mobile-main-nav" role="button" aria-pressed="false" aria-label="Open Mobile Main Navigation">Open Main Navigation</button>
    </nav>
</header>
</div>

<script>
  var searchButton = $(".western-search > button");
  var searchWidget = $(".western-search-widget");
  searchWidget.hide();
  searchButton.click(function () {
    searchWidget.animate({width: 'toggle'});
  });

  // Western Quick Links
  var quickLinksButton = $(".western-quick-links > button");
  var quickLinksWidget = $(".western-quick-links ul");

  quickLinksButton.click(function () {
    quickLinksWidget.animate({width: 'toggle'});
  });
</script>
