// _base.scss should not compile to any CSS.
// It should only contain non-compiling .scss like variables and mixins.
// This will be available to all the other .scss files.

@import "mixins";

// Western Brand Colors
$wwuBlue: #003f87;  // Passes color contrast checker: http://webaim.org/resources/contrastchecker/
$wwuRed: #cc2d30; // Passes color contrast checker for text on white background.
$wwuGreen: #006b3f; // Passes color contrast checker for text on white background.

$wwuLtBlue: #0083d6; // Fails color contrast checker for text on white background. Use $wwuOceanBlue instead for text.
$wwuOceanBlue: #0070b6; // Passes color contrast checker for text on white background.

$wwuYellow: #ffc61e; // Fails color contrast checker for text on white background. Use $wwuDarkYellow instead for text.
$wwuDarkYellow: #836200; // Passes color contrast checker for text on white background.

$wwuLime: #bad80a; // Fails color contrast checker for text on white background. Use $wwuDarkLime instead for text.
$wwuDarkLime: #6b7d06; // Passes color contrast checker for text on white background.

$wwuGrayBlue: #4B689C; // Passes color contrast checker for text on white background.
$dark: #111; // Passes color contrast checker for text on white background. Most body text, instead of #000.

$wwuPaleBlue: #cce6f7; // Fails color contrast checker for text on white background.
$wwuPalestBlue: lighten($wwuPaleBlue, 5%); // Fails color contrast checker for text on white background.
$wwuLtGray: #E9E9E9; // Fails color contrast checker for text on white background.


// Breakpoints
$rock: "(min-width: 750px)";
$rock-igneous: "(min-width: 750px) and (max-width: 950px)";
$sand: "(max-width: 750px)";
$silt: "(max-width: 400px)";

// Baseline grid; basic unit
$baseline: 20px;
$half-base:($baseline/2); // 10px
$quarter-base:($baseline/4); // 5px

$serif:baskerville, garamond, georgia, serif;
$sans:verdana, arial, helvetica, geneva, sans-serif;
$muli:muli, $sans;
$code:"Lucida Console", Monaco, monospace;

$box-sizing-polyfill-path: "http://www.wwu.edu/wwucommon/lite/js/boxsizing.htc";
