//SG Section 3

.module-facebook {}

%module-call-out-box,
.call-out-box-right,
.call-out-box-left,
.call-out-box-center,
blockquote
 {
	background-color:$wwuPalestBlue;
	padding:2em;
	h1, h2, h3, h4, h5, h6 { margin-top:0; }
	p:last-child, ul:last-child { margin-bottom:0; }
}


//Basic boxes
//
//A standard grey box.
//
//Markup:
// <aside class="{$modifiers}"> 
//		<h5>Title in a box!</h5>
//		<p>In the beginning, the universe was created.  This made a lot of people very angry and has been
//         widely regarded as a bad move.</p>
// </aside>
//
//.box - A basic box with Western blue for the background.
//.boxed - No border - just a grey background.  
//
//Styleguide 3.1

.box, aside[role="complementary"]  {
	margin-top: 6em;
	background-color:#F7FBFD;
	padding: 10px;
}
.box{
	width:25%;
}
.boxed {
	background-color:#E9E9E9;
}


// Call-out Boxes
//
// Wraps the desired element in a brighter, pre-aligned box.  
// On mobile, these snap to the center regardless of what class they are.
//
// Markup:
// <aside class="{$modifiers}"> 
//		<h5>Heading example</h5>
//		<p>lorem ipsum blah blah blah cake</p>
// </aside>
//
// .call-out-box-right - right floated call out box
// .call-out-box-left - left floated call out box
// .call-out-box-center - centered box
//
// Styleguide 3.2

.call-out-box-right {
	float:right;
	max-width:40%;
	margin:1em 0 1em 1em;
}

.call-out-box-left {
	float:left;
	max-width:40%;
	margin:1em 1em 1em 0;
}

.call-out-box-center {
	margin:1em auto;
	max-width:60%;
}

p aside.call-out-box-left, p aside.call-out-box-right {
	font-size: 2em;
	width: 15%;
}

//People Directory
//
//This class is a modular way of displaying people and their related information.  
//It is responsive and will work well with columns.
//
//Markup:
//<div class="layout-two-column">
//<section class="one-of-two-column">
//<div class="{$modifiers}">
//	<h2>Jane Smith</h2>
//    <img src="http://placehold.it/150x200" alt="Jane Smith">
//    <ul class="contact-info">
//    	<li>2002</li>
//        <li>Ph.D. University of California San Diego</li>
//        <li><a href="tel:+3606500000">360-650-0000</a></li>
//        <li>AW 000</li>
//        <li><a href="mailto:jane.smith@wwu.edu">jane.smith@wwu.edu</a></li>
//    </ul>
//    <p>Teaching interests include art, science, literature, mythology, technology, languages, and the North Pole.</p>
//    <p>Area of research is etymology.</p>
//</div> </section>
//<section class="two-of-two-column">
//<div class="{$modifiers}">
//	<h2>John Smith</h2>
//    <img src="http://placehold.it/150x200" alt="Jane Smith">
//    <ul class="contact-info">
//    	<li>2002</li>
//        <li>Ph.D. University of California San Diego</li>
//        <li><a href="tel:+3606500000">360-650-0000</a></li>
//        <li>AW 000</li>
//        <li><a href="mailto:jane.smith@wwu.edu">jane.smith@wwu.edu</a></li>
//    </ul>
//    <p>Teaching interests include art, science, literature, mythology, technology, languages, and the North Pole.</p>
//    <p>Area of research is etymology.</p>
//</div> </section>
//</div>
//
//.module-people-directory - Class applied to div
//
//Styleguide 3.3


.module-people-directory {
	margin-bottom:2em;
	ul li { margin-bottom:.1em; }
	img {
		float:left;
		margin:0 1em .5em 0;
	}
}

.contact-info {
	list-style-image: none;
}

//Campus Map
//
//The .campus-building-map needs to be applied to the iframe if you want to embed the campus map.
//
//Markup:
//<h3>Map</h3>
//<iframe src="http://www.wwu.edu/map/?building=OM" class="campus-building-map">
//	<p>Your browser does not support iframes to view this map.</p>
//</iframe>
//
//Styleguide 3.4

.campus-building-map {
	width:100%;
	height:300px;
}

//Media Streams
//
//The .module-media-stream class adds a caption to static images, linked images or videos.
//
//Markup:
//<figure class="module-media-stream">
//    <iframe width="560" height="315" src="http://www.youtube.com/embed/YytBD3Azyx8?list=PL98zNPVeQdIVQZYRU37sYlBa00f-jCJGH" frameborder="0" allowfullscreen></iframe>
//    <figcaption>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</figcaption>
//</figure>
//<figure class="module-media-stream">
//    <a href="http://www.wwu.edu">
//    <img src="http://placehold.it/300x200">
//    </a>
//    <figcaption>Senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</figcaption>
//</figure>
//
//Styleguide 3.5

.module-media-stream {
	font-family:$muli;
	margin-bottom:2em;
	img, iframe, video {
		width:100%;
	}
	figcaption {
		padding:1em;
		background-color:$wwuGreen;
		color:#fff;
		display:block;
		margin-top:-.75em;
		&:before {
			content:"";
			position:absolute;
			margin-top:-24px;
			bottom:auto;
		  	border-style:solid;
			border-width:0 15px 15px; /* vary these values to change the angle of the vertex */
			border-color:$wwuGreen transparent;
		}
	}
	iframe ~ a figcaption:before,
	video ~ a figcaption:before,
	iframe ~ figcaption:before,
	video ~ figcaption:before {
		border:none;
	}
}

.module-contact {}

.module-news {
	.module-news-teaser {}
}


// Quotes
// 
// Wraps the selected text in a box and quote images.
//
// Markup: 
// <div class="{$modifiers}">
// 	<p>It's a magical world, Hobbes ol' buddy.  Let's go exploring!</p>
//  <p>  -Calvin </p>
// </div>	
// 
// .quoted - Wraps the selected text in a light background, giving it italicized text
// and a fancy quotation mark image in the top left.  
// 
// Styleguide 3.6

.quoted {
	background: #f9f9f9;
	margin: 1.5em 10px;
	padding: .5em;
	margin-top: 3em;
	font-size:1.6em;
	line-height: 1.4em;
	color: #454545;
}
.quoted:before {
	content: '\201C';
	float: left;
	padding-right: .1em;
}
.quoted:after {
	content: '\201D';
	padding-right: .1em;
	float: right;
	margin-top: .5em;
}

.quoted:before, .quoted:after {
	font-family:Georgia, serif;
	color: $wwuBlue;
	font-size: 6em;
}

// // // // // // //      Slideshow (Flexslider)     // // // // // // //

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Nessesary Styles */
.flexslider {
	margin: 0;
 	padding: 0;
}

.flexslider ul li {
	background: none;
	padding: 0;
}

.flexslider .slides > li {
display: none;
-webkit-backface-visibility: hidden; /* Hide the slides before JS is loaded. Avoids image jumping */
}

.flexslider .slides img {
	width: 100%;
	display: block;
	}

.flex-pauseplay span {
	text-transform: capitalize; /* Clearfix for the .slides element */
}

.slides:after {
	content: "\0020";
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0;
}

html[xmlns] .slides {
	display: block;
}

* html .slides {
	height: 1%;
}


.no-js .slides > li:first-child {
	display: block;  /* Fallback for users without JS */
}

/* Flexslider Theme */
.flexslider { 
	margin: 0 0 60px;
	background: #fff;
	position: relative; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	border-radius: 4px; 
	zoom: 1; 
	max-width: 500px;
	padding: 0 2em 0 0;
	float:left;
}


//Flexslider
//
//A slideshow widget that displays a series of pictures.  
//
//Be sure to insert the scripts in the 
//bottom code example into the footer of your site with the rest of 
//your custom scripts.  Auto-scroll is currently disabled, but
//the slides can be navigated using the buttons on the bottom of the widget.  
//
//Markup:
//<div class="flexslider {$modifiers}">
//	<ul class="slides">
//		<li><img src="../wwucommon/lite/images/slideshow/slide1.jpg"></li>
//		<li><img src="../wwucommon/lite/images/slideshow/slide2.jpg"></li>
//		<li><img src="../wwucommon/lite/images/slideshow/slide3.jpg"></li>
//	</ul>
//</div>
//<!-- Uncomment and add these scripts to your own code
//<script src="http://www.wwu.edu/wwucommon/lite/js/jquery.flexslider-min.js"></script>
//<script type="text/javascript" charset="utf-8">
//    $(window).load(function() {
//        $('.flexslider').flexslider();
//    });
//</script> 
// -->
//
//.slideshow-small - Small size
//.slieshow-medium - Medium size
//.slideshow-large - Large size 
//
//Styleguide 3.7


.slideshow-small {
	max-width: 348px;
}

.slideshow-medium {
	max-width: 368.5px;
}

.slideshow-large {
	max-width: 765px;
}

.flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	-o-transition: all 1s ease; 
	transition: all 1s ease; 
}

.loading .flex-viewport { 
	max-height: 300px; 
}

.flexslider .slides { 
	zoom: 1; 
}

.carousel li { 
	margin-right: 5px; 
}

/* Direction Nav */
.flex-direction-nav {
	*height: 0;
}

.flex-direction-nav a  {
 	display: block;
 	width: 40px;
 	height: 40px;
 	margin: -20px 0 0; 
 	position: absolute; 
 	top: 50%; 
 	z-index: 10; 
 	overflow: hidden; 
 	opacity: 0; 
 	cursor: pointer; 
 	color: rgba(0,0,0,0.8); 
 	text-shadow: 1px 1px 0 rgba(255,255,255,0.3); 
 	-webkit-transition: all .3s ease; 
 	-moz-transition: all .3s ease; 
 	transition: all .3s ease; 
}

.flex-direction-nav .flex-prev { 
	left: -50px; 
}

.flex-direction-nav .flex-next { 
	right: -50px; text-align: right; 
}

.flexslider:hover .flex-prev { 
	opacity: 0.7; left: 10px; 
}

.flexslider:hover .flex-next { 
	opacity: 0.7; right: 10px; 
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { 
	opacity: 1; 
}

.flex-direction-nav .flex-disabled { 
	opacity: 0!important; 
	filter:alpha(opacity=0); 
	cursor: default; 
}

.flex-direction-nav a:before  { 
	font-family: "flexslider-icon"; 
	font-size: 40px; 
	display: inline-block; 
	content: '\f001'; 
}

.flex-direction-nav a.flex-next:before  { 
	content: '\f002'; 
}

/* Control Nav */
.flex-control-nav {
	width: 100%; 
	position: absolute; 
	bottom: -40px; 
	text-align: center;
}

.flex-control-nav li {
	margin: 0 6px; 
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}

.flex-control-paging li a {
	width: 11px; 
	height: 11px; 
	display: block; 
	background: #666; 
	background: $wwuLtGray;
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px; 
	border-radius: 20px; 
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
}

.flex-control-paging li a:hover { 
	background: #333; 
	background: $wwuPaleBlue;
}

.flex-control-paging li a.flex-active { 
	background: #000; 
	background: $wwuBlue; 
	cursor: default; 
}

.flex-control-thumbs {
	margin: 5px 0 0; 
	position: static; 
	overflow: hidden;
}

.flex-control-thumbs li {
	width: 25%; 
	float: left; 
	margin: 0;
}

.flex-control-thumbs img {
	width: 100%; 
	display: block; 
	opacity: .7; 
	cursor: pointer;
}

.flex-control-thumbs img:hover {
	opacity: 1;
}

.flex-control-thumbs .flex-active {
	opacity: 1; 
	cursor: default;
}

.flexslider li::before {
	content: none;
}