// // // // // // //      General      // // // // // // //
// Multiple selectors and primary parent elements like body, main, .body-wrapper, etc.

body {
	background-color:$wwuLtGray;
	border-top:solid 5px $wwuLtBlue;
	font-family:$sans;
	font-size:62.5%;
	color:$dark;
}

.zen-wrapper {
	@include zen-grid-container();
	max-width:1060px;
	margin:0 auto;
}

.body-wrapper {
	background-color:white;
	margin-bottom:1em;
	line-height:2em;
}

header[role="banner"],
.body-wrapper {
	@include zen-clear();
}

a {
	color:$wwuOceanBlue;
	cursor:pointer;
	@include transition(.33s color);
	&:link, &:visited { @extend a; }
	&:hover, &:focus, &:active {
		color:$wwuBlue;
		@include transition(.1s color);
	}
}

h1,h2,h3,h4,h5,h6 {
	font-family:$muli;
	color:$wwuBlue;
}
h1 {
	font-size:3em; // 30px
	margin:0em 0 -.4em 0;
	line-height:140%;
	padding: 0 0 1em 0;
}

h2 {
	font-size:2.5em; // 25px
	margin:-0.65em 3 0 0;
	line-height:140%;
	padding: .5em 0 .8em 0;
}

h3 {
	font-size:2em; // 20px
	margin: 0 0 .5em 0;
	line-height:1.5em;
}

h4 {
	font-size:1.75em; // 17.5px
	margin:2em 0 1em 0;
}

h5 {
	font-size:1.5em; // 15px
	margin:1em 0 0 0;
}

h6 {
	font-size:1.25em; // 12.5px ;mtr
	margin:0;
	font-style:italic;
}

main {
	font-size:1em;
	p {
		font-size:1.6em;
		line-height: 1.4em;
		margin-bottom:1em;
		&:last-child { margin-bottom:.8em; }
	}
}

main ol, main ul {
  font-size: 1.6rem;
  font-size: 16px;
  margin-bottom: .8em;
  padding-left: 2rem;
}
main ul {
    list-style: none outside none;
}
main ul {
	font-size:1.6em;
    list-style: none outside none;
}
main ol li, main ul li {
    line-height: 1.5rem;
}
main ul li {
	background: url("http://www.wwu.edu/wwucommon/lite/../wwucommon/lite/images/red_square.png") 0 6px no-repeat;
	padding: 0 0 0 15px; /*the last parameter sets an offset between the dot and the first word of the list item */
}
main ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0;
    padding-left:0;
}
main ol > li {
    position:relative; /*  Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px;
    list-style:none;
    background:#f6f6f6;
}
main ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid #666;
    color:#fff;
    background:#666;
    font-weight:bold;
    font-family:$muli;
    text-align:center;
}
main li ol, main li ul {
	margin-top:6px;
}
main ol ol li:last-child {
	margin-bottom:0;
}

dl {
}
dt {
font-weight: bold;
width: 28%;
float: left;
}
dt, dd {
font-size: 1.6em;
}
dd {
font-style: italic;
padding-bottom: 2em;
}

small {}
em {
	font-style:italic;
}
i {
	font-style:italic;
}
b {
	font-weight:bold;
}
strong {
	font-weight:bold;
}

figcaption {
	font-size:1.3em;
	font-size:13px;
}

blockquote {
	margin:1em auto;
	&:before {
		float:left;
		position:relative;
		top:15px;
		left:-1em;
		font-family:$serif;
		font-size:9em;
		line-height:2em;
		margin-right:-.5em;
		color:#fff;
	}
	&:after {
		float:right;
		position:relative;
		bottom:-.5em;
		right:-.5em;
		font-family:$serif;
		font-size:9em;
		line-height:2em;
		margin-right:-.5em;
		color:#fff;
	}
	cite {
		font-size:1.3em;
		font-style:italic;
		&:before { content:"\2014"; }
	}
}

code {
	p & {}
}

//Positioning
//
//For centering and floating.
//On mobile, all floated elements become centered on the screen.
//
//Markup:
//<img src="http://www.wwu.edu/wwucommon/lite/images/slideshow/slide1.jpg" class={$modifiers}>
//
//.centered - Centers vertically using margins and display:block
//.left - Floats the element left
//.right - Floats the element right
//
//Styleguide 1.1

.centered {
	display:block;
	margin:auto;
	text-align:center;
	padding: .5em 0;
	margin-bottom: 2em;
}
.left {
	float:left;
}
.right {
	float:right;
}

//Clearing floats
//
//By default, other elements wrap around floated ones like in the default example below.
//Clearfixes, implemented in these classes, force elements next to floats to take up their own line.
//
//Markup:
//<div class = "boxed">
//	<img src="http://www.wwu.edu/wwucommon/lite/images/slideshow/slide2.jpg" class="right" style="width:150px">
//	<p class="{$modifiers}">'Well, there was Mystery,' the Mock Turtle replied, counting off  the subjects on his flappers,
// '&mdash;Mystery, ancient and modern, with  Seaography: then Drawling&mdash;the Drawling-master was an old
//  conger-eel,  that used to come once a week: HE taught us Drawling, Stretching, and  Fainting in Coils.
//  ' 'What was THAT like?' said Alice. 'Well, I can't show it you myself,' the Mock Turtle said: 'I'm too  stiff.
//   And the Gryphon never learnt it.' 'Hadn't time,' said the Gryphon: 'I went to the Classics master, though.
//  </p>
//</div>
//<div class = "boxed">
//	<img src="http://www.wwu.edu/wwucommon/lite/images/slideshow/slide3.jpg" class="left" style="width:150px">
//	<p class="{$modifiers}">'Well, there was Mystery,' the Mock Turtle replied, counting off  the subjects on his flappers,
// '&mdash;Mystery, ancient and modern, with  Seaography: then Drawling&mdash;the Drawling-master was an old
//  conger-eel,  that used to come once a week: HE taught us Drawling, Stretching, and  Fainting in Coils.
//  ' 'What was THAT like?' said Alice. 'Well, I can't show it you myself,' the Mock Turtle said: 'I'm too  stiff.
//   And the Gryphon never learnt it.' 'Hadn't time,' said the Gryphon: 'I went to the Classics master, though.
//  </p>
//</div>
//
//.clear-left - Forces things next to left floated elements to have their own line.
//.clear-right - Forces things next to right floated elements to have their own line.
//.end - Will force anything on either side of the floating element to be pushed down to the next line.
//.hide - Straight up hides the desired element (paragraph in this case) using display: none.
//
//Styleguide 1.2

.clear-left {
	clear:left
}
.clear-right {
	clear:right
}
.end {
	clear:both;
}
.hide {
	display: none;
}

div.right p , div.left p {
	text-align:center;
	color: #666;
	font-style: italic;
	font-size: .8em;
}
div.right img {
	margin: 0 0 0 10px;
}
div.left img {
	margin: 0 10px 0 0;
}

table.table-flex {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.35em;
    word-break: break-all;
}
table.table-flex tr:nth-of-type(odd) {
    background: $wwuLtGray;
}
table.table-flex th {
    background: $wwuBlue;
    color: white;
    hyphens: none;
}
table.table-flex td, th {
    padding: 6px;
    border: 1px solid #ccc;
}

	figure, .fig-left {
	position: relative;
	margin: 1.5em 0;
	display: block;
	max-width: 300px;
	text-align: center;
	float: left;
	padding-left: 0em;
	padding-right: 2em;
}

	.fig-right {
	position: relative;
	margin: 1.5em 0;
	display: block;
	max-width: 300px;
	text-align: center;
	float: right;
	padding-left: 2em;
	padding-right: 0em;
}

figure img {
	border-top: 1px dotted $wwuBlue;
	max-width: 300px;
}

figcaption {
	margin: .75em 0;
	text-align: center;
	font-style: italic;
	line-height: 1.5em;
	display: block;
	font-size: 1.3em;
	border-bottom: 1px dotted $wwuBlue;
	padding-bottom: 1em;
}

hr {}
