// // // // // // //      Footer    // // // // // // //

.paragraph {
	font-size: 1.3em; 
	color: #bbb; 
	padding: 0 2em; 
}

footer {
	display:block;
	background-color:$wwuBlue;
	font-family:$muli;
	min-height:1em;

	div {
		max-width:1060px;
		display:block;
		margin:0 auto;
	}

	p, p a:link, p a:visited {
		@extend .paragraph;
	}

	.contact {
		float: left;
	}
	.feedback {
		float: right;
	}
}

subfooter {
	display: block;
	background-color: $wwuLtGray;
	font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
	min-height: 1em;
	font-size: 1em;
	color:#666;

	div { 
		max-width: 1060px; 
		display: block; 
		margin: 0 auto;
		padding-top: 2em;
		padding-bottom: 3em;
	}

	p { 
		@extend .paragraph;
	}

	.contact { 
		float: left;
		margin-top: -.25em;
		a:hover, a:focus, a:active { color:$wwuLime; }
	}
	.page-last-updated, footer .feedback { 
		float: right;
		a:hover, a:focus, a:active { color:$wwuLime; }
	}
	.western-copyright {
		float: left;
	}
	.page-last-updated {
		float: right;
	}

}



