//Forms
//
//Description here
//
//Markup:
//<form class="contact_form" action="" method="post" name="contact_form">
//    <ul>
//        <li>
//            <span class="required_notification">* Denotes Required Field</span>
//        </li>
//        <li>
//            <label for="name">Name:<span class="required_mark">*</span></label>
//            <input type="text" maxlength="100" name="name" placeholder="Jane Doe" required/>
//        </li>
//        <li>
//            <label for="email">Email:<span class="required_mark">*</span></label>
//            <input type="text" maxlength="254" name="email" placeholder="jane_doe@students.wwu.edu" required/>
//        </li>
//        <li>
//            <label for="subject">Subject:</label>
//            <input type="text" maxlength="100" name="subject" />
//        </li>
//        <li>
//            <label for="select-choice">Select Choice:</label>
//            <select name="select-choice">
//                <option value="Choice 1">Choice 1</option>
//                <option value="Choice 2">Choice 2</option>
//                <option value="Choice 3">Choice 3</option>
//            </select>
//        </li> 
//        <li>
//            <label for="message">Message:<span class="required_mark">*</span></label>
//            <textarea name="message" cols="40" rows="6" maxlength="300" placeholder="(300 Character Maximum)" required></textarea>
//        </li>
//        <li>
//            <label for="radio-choice-1">Choice 1</label>
//            <input type="radio" name="radio-choice" id="radio-choice-1" tabindex="1" value="choice-1"/>
//            </br>
//            <label for="radio-choice-2">Choice 2</label>
//            <input type="radio" name="radio-choice" id="radio-choice-2" tabindex="2" value="choice-2"/>
//            </br>
//            <label for="radio-choice-3">Choice 3</label>
//            <input type="radio" name="radio-choice" id="radio-choice-3" tabindex="3" value="choice-3"/>
//        </li>  
//        <li> 
//            <label for="checkbox-1">Option 1</label>
//            <input type="checkbox" name="checkbox-1" id="checkbox1"/>
//            </br>
//            <label for="checkbox-2">Option 2</label>
//            <input type="checkbox" name="checkbox-2" id="checkbox2"/>
//            </br>
//            <label for="checkbox-2">Option 3</label>
//            <input type="checkbox" name="checkbox-3" id="checkbox3"/>
//        </li> 
//        <li>
//            <button class="submitGreen" type="submit">Submit</button>
//        </li>
//    </ul>
//</form>
//
//Styleguide 4.1

#content form ul li {
	list-style-image: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

label {  
    display: inline-block;    
    position: relative;  
    padding-left: 0px;  
    margin-right: 15px;  
    font-size: 1em;  
}  

*:focus {outline: none;}
/* Disable default WebKit focus style */ 

.contact_form textarea {
	padding: .3em;
}

.contact_form li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
    list-style-image: none;
    background: none;
}

.contact_form li:first-child, li:last-child {
	border-bottom: none;
}

.required_notification {
    color:$wwuRed; 
    margin:0;
    display:inline;
    float:right;
}

.required_mark {
    color:$wwuRed; 
    display:inline;
    float:left;
    margin-right: 5px;
}

.contact_form label {
    width:150px;
    margin-top:3px;
}

.contact_form input {
    height:15px; 
    width:220px; 
    padding:5px 8px;
}

.contact_form input, .contact_form textarea { 
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 3px 10px #eee inset;
    border-radius: 2px;
}

input[type="radio"] {
	border: none;
    box-shadow: none;
    border-radius: 0
}

input[type="checkbox"] {
	border: none;
    box-shadow: none;
    border-radius: 0
}

.contact_form input:focus, .contact_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

button.submit_green {
    background-color: $wwuLime;
  	border: none;
    color: $wwuBlue;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    float: left;
}