// // // // // // //      Header      // // // // // // //

header[role="banner"] {
	background-color:white;
  background-image:url('../img/banner-image.jpg');
	padding:1em 0;
	margin-bottom:1em;
	line-height:2em;
	@include box-sizing(border-box);
	.western-logo {
		color: $wwuBlue;
		background-color:$wwuBlue;
		background-repeat:no-repeat;
		a { @include hide-text; }
	}
	.site-name {
		font-family:Avenir, $muli;
		color:white;
	}
}

.western-quick-links {}
.nav-button { @include hide-element; }

header[role="banner"] {
	//.search { @include hide-element; }
}

.western-search-widget {
	@include box-shadow(#333 0 0 8px);
	background:#fff;
  	padding:0;
  	display:block;
  	height:6.5em;
  	width:29.25em;
  	font-family:$muli;
  .western-search-terms, .western-search-type-toggle {
  	margin:7px 0 0 1em;
  }
	.western-search-terms label {
		@include hide-text;
	}
	.western-search-terms input {
		font-size:1.4em;
    	font-family:$muli;
    	border: {
      		width:0 0 1px 0;
      		style:solid;
      		color:$wwuLime;
    	}
    padding:.25em 0 .1em 0;
	}

	.western-search-type-toggle input[type="checkbox"] {
    height:12px;
    width:12px;
	}
	.western-search-type-toggle label {
		color:gray;
    font-size:1em;
    font-weight:normal;
	}
	input[type="submit"] {
		background-color:$wwuOceanBlue;
    color:#fff;
    margin:0;
    padding:0 1em;
    border:none;
    position:absolute;
    top:0;
    right:0;
    height:100%;
    font-size:1.4em;
    cursor:pointer;
	}
}
