//Social Media Icons
//
//Classes for displaying social media icons.  Just apply them to a textless "a" tag
//with the "href" pointed at your desired social media page.
//
//Markup:
//<a href="#" class="{$modifiers}"></a>
//
//.facebook-icon - Facebook
//.twitter-icon - Twitter
//.youtube-icon - Youtube
//.linkedin-icon - Linkedin
//.googleplus-icon - Google Plus
//.flickr-icon - Flickr
//.instagram-icon - Instagram
//.tumblr-icon - Tumblr
//.foursquare-icon - Foursquare
//
//Styleguide 5.1

.facebook-icon {
	background: url(http://www.wwu.edu/wwucommon/lite/images/media_facebook.png);
}
.twitter-icon {
	background: url(http://www.wwu.edu/wwucommon/lite/images/media_twitter.png);
}	
.youtube-icon {
	background: url(http://www.wwu.edu/wwucommon/lite/images/media_youtube.png);
}
.linkedin-icon {
	background: url(http://www.wwu.edu/wwucommon/lite/images/media_linkedin.png);
}
.googleplus-icon {
	background: url(http://www.wwu.edu/wwucommon/lite/images/media_googleplus.png);
}
.flickr-icon {
	background: url(http://www.wwu.edu/wwucommon/lite/images/media_flickr.png);
}
.instagram-icon {
	background: url(http://www.wwu.edu/wwucommon/lite/images/media_instagram.png);
}
.tumblr-icon {
	background: url(http://www.wwu.edu/wwucommon/lite/images/media_tumblr.png);
}
.foursquare-icon {
	background: url(http://www.wwu.edu/wwucommon/lite/images/media_foursquare.png);
}
.facebook-icon, .twitter-icon, .youtube-icon, .linkedin-icon, .googleplus-icon, .flickr-icon, .instagram-icon, .tumblr-icon, .foursquare-icon {
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 32px;
}
a.twitter-icon, a.facebook-icon, a.youtube-icon, a.linkedin-icon, a.googleplus-icon, a.flickr-icon, a.instagram-icon, a.tumblr-icon, a.foursquare-icon {
	width: 32px;
	height: 32px;
}

//File Type Icons
//
//Automatically displays the relevent file type icon next to a link with that file
//extension
//
//Markup:
//<a href="mailto:example@example.com">mailto</a> <br>
//<a href="file.pdf">PDF</a> <br>
//<a href="file.mp3">Media (mp4, mp3, mov flv mpg or mpeg)</a> <br>
//<a href="file.ai">Adobe Illustrator .ai</a> <br>
//<a href="file.dwt">Web styles (.dwt .css .xml)</a> <br>
//<a href="file.psd">Adope Photoshop</a> <br>
//<a href="file.eps">PostScript</a> <br>
//<a href="file.id">InDesign</a> <br>
//<a href="file.wmv">WMV</a> <br>
//<a href="file.swf">Flash (.swf)</a> <br>
//<a href="file.docx">Word (.doc, .docx, docm, dot, dotx)</a> <br>
//<a href="file.pptx">Powerpoint (.ppt, .pptx)</a> <br>
//<a href="file.xlsx">Excel (.xls, .xlsx)</a>
//
//Styleguide 5.2

a[href^='mailto:']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/email.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.pdf']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/pdf.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.mp4'], a[href$='.mp3'], a[href$='.mov'], a[href$='.flv'], a[href$='.mpg'], a[href$='.mpeg']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/mp4.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.ai']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/ai.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.dwt'], a[href$='.css'], a[href$='.xml']  {
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/dw.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.psd']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/psd.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.eps']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/eps.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.id']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/id.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.wmv']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/wmv.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.swf']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/swf.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.doc'], a[href$='.docx'], a[href$='.dot'], a[href$='.docm'], a[href$='.dotx'],  a[href$='.dotm']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/word.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.ppt'], a[href$='.pptx'], a[href$='.pptm'], a[href$='.potx'], a[href$='.potm'], a[href$='.ppam'], a[href$='.ppsx'], a[href$='.sldx'], a[href$='.sldm']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/ppt.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}

a[href$='.xls'], a[href$='.xlsx'], a[href$='.xlsb'], a[href$='.xltm'], a[href$='.xlam'], a[href$='.xltx']{
	background:url("http://www.wwu.edu/wwucommon/lite/images/filetypeicons/xls.png") no-repeat right;
	overflow: visible;
	padding: 0 1.3em 3px 0;
}