// Zen Grids: @include zen-grid-item(span, position);

/* Mobile
$zen-column-count:1;*/

/* Tablet Portrait
$zen-column-count:3;*/

/* Tablet Landscape
$zen-column-count:5; */

/* "Not Wide" Screen
$zen-column-count:7;*/

/* Wide Screen
$zen-column-count:9;
$zen-gutter-width:20px;*/

// Breakpoint declarations in _mixins.scss
$zen-column-count:9;
$zen-gutter-width:$baseline;
$zen-auto-include-item-base: true;

// From smallest to largest: Clay, Silt, Sand, Pebble, Rock (Igneous, Metamorphic, or Sedimentary) Boulder, Mountain, Continent, Planet

// // // // // // //      Silt // Less than 400px wide      // // // // // // //

@media #{$silt} {
	$zen-column-count:1;
	.call-out-box-right,
	.call-out-box-left,
	.call-out-box-center {
		float:none;
		clear:both;
		max-width:100%;
		margin:1em auto;
	}
	.flexslider { 
	padding: 0 0 0 0;
	}

	footer {
		.feedback, .contact {
			padding: 0 1em;
		}
	}

	subfooter div {
		padding-bottom: 1em;
	}

	subfooter .western-copyright {
		float: none;
	}

	subfooter .page-last-updated {
		margin-bottom: 1em;
		float: none;
	}

}

// // // // // // //      Sand // Less than 750px wide      // // // // // // //

@media #{$sand} {
	$zen-column-count:1;

	body { border:none; }

	header[role="banner"],
	.body-wrapper,
	.main-nav,
	main,
	main > section,
	main > aside {
		@include zen-grid-item(1,1);
		@include zen-clear(both);
	}

	h1 { margin: .6em 0 -.4em 0; }

	main {
		//@include zen-nested-container();
		padding-bottom:1em;
	}

	.main-nav, .body-wrapper { padding:0; }

	.alpha-content, .omega-content { margin-bottom:1em; }

	.main-nav {
		display:none;
		li a { padding:0 0 0 2em; }
		.site-nav {
			a:hover, a:active, a:focus { background-color:#fff; }
		}
		.is-accordion {
			> a { margin-right:44px; }
		}
	}
	.social-media-nav {
		margin-top:2em;
		a {
			@include accordion-nav-style;
			background-color:$wwuLtGray;
			display: inline;
			float: right;
			text-align: right;
		}
	}

	a.twitter-icon, a.facebook-icon, a.youtube-icon, a.linkedin-icon, a.googleplus-icon, a.flickr-icon, a.instagram-icon, a.tumblr-icon, a.foursquare-icon {
	width: .5em;
	height: 32px;
}

	// Footer

	footer {
		padding:1.5em 0;
	}

	p.western-copyright {
		text-align: center;
	}

	subfooter .page-last-updated {
		text-align: center;
		margin-bottom: 1em;
	}
	
	.contact_form textarea {
		width: 90%;
	}

	// Header

	header[role="banner"] {
		padding:0;
		margin-bottom:0;
		.western-logo {
			@include zen-grid-item(1,1,left);
			background: url('http://www.wwu.edu/wwucommon/lite/images/wwuhorizlogo.png') no-repeat;
			background-color:$wwuBlue;
			width: 100%;
			height: 74px;
		}
		.site-name {
			@include zen-clear();
		    @include background(linear-gradient(top, lighten($wwuOceanBlue, 10%), $wwuOceanBlue));
		    background-image:none;
		    z-index:-10;
		    background-color:$wwuOceanBlue;
		    padding: 0 0 .5em 1.25em;
		    font-family:Avenir, $muli;
		    font-size:2.1em;
		    padding:.75em 2em .75em 1em;
		    line-height:1.55;
		    display:block;
		}
		nav {
			@include box-shadow();
			background:$wwuGrayBlue;
			width:44px;
			height: 64px + 74px;
			position:absolute;
			top:0;
			right:0;
		}
	}

	.western-quick-links {
	  width:44px;
	  font-family:$muli;
	  button {
			background-image:url('http://www.wwu.edu/wwucommon/lite/images/quick-links-icon.png');
			background-repeat:no-repeat;
			background-position:right center;
			background-size:contain;
			cursor:pointer;
			width:44px;
			height:44px;
			text-indent:-999em;
			border:none;
			margin-bottom:3px;
	  }
	  ul {
			@include box-shadow(#333 0 0 8px);
			margin: 0;
			background-color:#fff;
			list-style-type:none;
			position:absolute;
			width:25.6em;
			height:7.4em;
			right:44px;
			top:0;
			overflow:hidden;
			@include hide-element;
			li {
			  text-align:center;
			  display:inline-block;
			  padding:1.75em 0 0 1em;
			  &:not(:first-child):before { content:""; }
			}
	  }
	  a {
			@include transition(1s color);
			text-decoration:none;
			text-transform:none;
			padding:0;
			color:$wwuBlue;
			span:first-child {
			  font-size:2.3em;
			  font-family: 'fontello';
			  font-style: normal;
			  font-weight: normal;
			  speak: none;
			  display: inline-block;
			  text-decoration: inherit;
			  padding:0;
			  font-variant: normal;
			  text-transform: none;
			  @include transition(.2s);
			}
			span:last-child {
			  display:block;
			  font-size:1em;
			}
			&:hover, &:focus {
			  color:$wwuGreen;
			  @include transition(.2s);
			  span:first-child { color:$wwuLime; }
			}
  	}
	}

	.western-search {
	  top:0;
	  width:44px;
	  > button {
			background-image:url('http://www.wwu.edu/wwucommon/lite/images/search-icon.png');
			background-repeat:no-repeat;
			background-position:right center;
			background-size:contain;
			cursor:pointer;
			width:44px;
			height:44px;
			text-indent:-999em;
			border:none;
			margin-bottom:3px;
		}
		.western-search-widget {
			@include zen-clear(right);
			position:absolute;
			top:74px;
			right:44px;
			z-index:100;
			margin-top:0;
		}
	}
	.mobile-main-nav {
		background-image:url('http://www.wwu.edu/wwucommon/lite/images/mobile-menu-icon.png');
		background-repeat:no-repeat;
		background-position:right center;
		background-size:contain;
		cursor:pointer;
		width:44px;
		height:44px;
		text-indent:-999em;
		border:none;
	}
	.main-nav li a.is-active {
		padding-left: 2em;
		margin-left: 0em;
		margin-top: 0em;
	}	
	.main-nav li a.is-active:before {
		margin-top: 0em;
		height: 2em;
	}


	// Responsive Tables

	.table-flex {table-layout: fixed;}
	.table-flex .cf:after { 
		visibility: hidden; 
		display: block; 
	
		content: " "; 
		clear: both; 
		height: 0; 
	}
	.table-flex * html .cf { zoom: 1; }
	.table-flex *:first-child+html .cf { zoom: 1; }
	.table-flex table { 
		width: 100%; 
		border-collapse: collapse; 
		border-spacing: 0; 
	}
	.table-flex th, .table-flex td { 
		margin: 0; 
		vertical-align: top; }
	.table-flex th { text-align: left; }
	.table-flex table { 
		display: block; 
		position: relative; 
		width: 100%; 
	}
	.table-flex thead { 
		display: block; 
		float: left; 
	}
	.table-flex tbody { 
		display: block; 
		width: auto; 
		position: relative; 
		overflow-x: auto; 
		white-space: nowrap; 
	}
	.table-flex thead tr { 
		display: block; 
	}
	.table-flex th {
		display: block; 
		text-align: right; 
	}
	.table-flex tbody tr { 
		display: inline-block; 
		vertical-align: top; 
	}
	.table-flex td { 
		display: block; 
		min-height: 1.25em; 
		text-align: left; 
	}
	.table-flex th { 
		border-bottom: 0; 
		border-left: 0; 
	}
	.table-flex td { 
		border-left: 0; 
		border-right: 0; 
		border-bottom: 0; 
	}
	.table-flex tbody tr { border-left: 1px solid #babcbf; }
	.table-flex th:last-child, .table-flex td:last-child { border-bottom: 1px solid #babcbf; }

	figure, .fig-left, .fig-right {
		margin: 0 auto;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
}

// // // // // // //      Rock // More than 750px wide     // // // // // // //

@media #{$rock} {
	$zen-column-count:9;

	header[role="banner"],
	.body-wrapper, {
		@include zen-grid-item(9,1);
		@include zen-clear();
	}

	.body-wrapper { padding:1em 0; }

	main { padding-right:1em; }

	.main-nav {
		@include zen-grid-item(2.25,1);
	}
	.layout-full-page {
		> section { @include zen-grid-item(6.75,3.25); }
	}

	.layout-sidebar {
		overflow:auto;
		> section  { @include zen-grid-item(4.5,3.25); }
		> aside { @include zen-grid-item(2.25,7.75); }
	}

	.alpha-content, .omega-content {
		@include zen-grid-item(6.75,3.25);
		@include zen-clear(both);
		margin-bottom:1em;
	}

	.layout-two-column {
		overflow:auto;
		.one-of-two-column { @include zen-grid-item(3.33,3.25); @include zen-clear(both); }
		.two-of-two-column { @include zen-grid-item(3.33,6.625); }
	}

	.layout-three-column {
		overflow:auto;
		.one-of-three-column { @include zen-grid-item(2.17,3.25); @include zen-clear(both); }
		.two-of-three-column { @include zen-grid-item(2.17,5.5); }
		.three-of-three-column { @include zen-grid-item(2.17,7.75); }
	}

	 .main-nav {
	 	.site-nav a { padding:4px 2em 1px 2em; }
	 	.is-accordion > a { margin-right:35px; }
	}

	// Header

	header[role="banner"] {
		height:110px;
		margin-top:5em;
		border:solid 1em white;
		background-color:white;
		background-position:100% 0;
		nav {
			position:relative;
			top: -6.7em;
			right:-2em;
			width:100%;
		}
		.western-logo {
			height:125px;
			width:220px;
			background-color:$wwuBlue;
			background-image:url('http://www.wwu.edu/wwucommon/lite/images/western-logo.png');
			background-repeat:no-repeat;
			background-position:50% 25%;
			float:left;
			position:relative;
			margin-top:-75px;
			left:(.5em * 3);
			z-index:999;
			@include box-shadow($dark 0 0 4px);
		}
		.name-container {
			min-height: 35px;
		}
		.site-name {
			font-family:Avenir, $muli;
			font-size:3em;
			color:white;
			text-align:right;
			clear:both;
			position:relative;
			right:1em;
			bottom:-35px;
			line-height:35px;
			@include text-shadow($dark 0 0 5px, $dark 0 0 3px, $dark 0 0 2px);
			// Uncomment the below to "hide" the site-name in banner. Still accessible. Add this to user's custom.css (or equivalent) file
			// This creates a display bug for other header elements
			//@include hide-text;
			&.is-constrained-type-size {}
		}
	}

	.hide-desktop {
		display: none;
	}

	.western-search {
      top: -4em;
      display: block;
      position: absolute;
      right: 0;
      > button {
      	@include hide-text;
        height:44px;
        width:44px;
        cursor:pointer;
        background-color:$wwuOceanBlue;
        background:url('http://www.wwu.edu/wwucommon/lite/images/light-blue-search-icon.png') no-repeat;
        background-size:cover;
      }
      .western-search-widget {
        position:absolute;
        top:44px;
        right:0;
        margin-top:0;
      }
    }

	// Nav

	.social-media-nav {
		ul {
			display:block;
			text-align:left;
			margin-top:1em;
		}
		li {
			display:inline;
			padding:.5em;
			font-size:1.3em;
		}
		li:first-child {
			padding-left:0em;
		}
		a { color:$wwuOceanBlue; }
	}
	.western-quick-links {
	  position:absolute;
		top:-23px;
		right:9.3%;
		button { @include hide-element; }
		ul {
			margin:0;
			padding:0;
		}
		li {
	    display:inline-block;
	    font-family: $muli;
	    padding-left: .5em;
	    font-size:1.3em;
	    a {
	      text-decoration: none;
	      padding-left: 6px;
	      color: $wwuBlue;
	      span:first-child { display:none; }
	      &:hover, &:focus {
	        color:$wwuOceanBlue;
	      }
	    }
	  }
	  li:not(:first-child):before { content: "\00B7 \0020 "; }
	}

	.mobile-main-nav { @include hide-element; }

	footer {
		padding:2em 0;
		.page-last-updated { float:left; }
		.western-copyright { float:right; }

	}
}

// // // // // // //      Igneous Rock (rock-igneous) // Between 750px and 950px wide      // // // // // // //

@media #{$rock-igneous} {
	$zen-column-count:9;

	.layout-sidebar > section,
	.layout-sidebar > aside {
		@include zen-grid-item(6, 4);
		@include zen-clear(both);
	}

	.layout-sidebar > aside { margin-top:2em; }

	header[role="banner"],
	.body-wrapper {
		@include zen-grid-item(9,1);
	}

	.layout-full-page {
		> section { @include zen-grid-item(6, 4); }
	}

	.body-wrapper { padding:1em 0; }

	.main-nav { @include zen-grid-item(3,1); }

	.alpha-content, .omega-content { @include zen-grid-item(6, 4); @include zen-clear(both); }

	.layout-two-column {
		.one-of-two-column { @include zen-grid-item(3,4); @include zen-clear(both); }
		.two-of-two-column { @include zen-grid-item(3,7); }
	}

	.layout-three-column {
		.one-of-three-column { @include zen-grid-item(3,4); @include zen-clear(both); }
		.two-of-three-column { @include zen-grid-item(3,7); }
		.three-of-three-column { @include zen-grid-item(6, 4); @include zen-clear(both); }
	} 
}