@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

@mixin hide-element {
	display:none;
}

@mixin accordion-nav-style {
	@include transition(.33s color);
	color:$wwuBlue;
	border-bottom:solid 1px #fff;
	display:block;
	width:auto;
	text-decoration:none;
	font-size:1em;
	&:hover {
		@include transition(.1s color);
		background-color:lighten($wwuLtGray, 6%);
	}
}