// // // // // // //      Navigation      // // // // // // //

//Accordion
//
//Expandable or collapsible sections used to hide content until the user clicks on it.
//Simply apply the class ".is-accordion" to a heading tag and the ".is-accordion-content" 
//tag to a div below it.  
//
//Ignore the "main" tags in the example code below.  They're used to make this automatically
//generated styleguide compatible with Western's CSS without directly modifying it.  
//
//Markup:
//<main>
//<h3 class="is-accordion">Expandable Heading Title</h3>
//<div class="is-accordion-content">
//	<p>Vivamus sed pretium arcu. Vestibulum a aliquet augue. Quisque 
//	tincidunt aliquet sagittis. Sed tellus purus, posuere nec purus a, auctor feugiat neque. 
//	</p>
//</div>
//</main>
//
//Styleguide 2.1

.main-nav {
	font-family:$muli;
	line-height:3em;
	li {
		@include transition(.33s color);
		width: 100%;
		font-size:1.5em;
		li, li li { font-size:1em; }
	}
	.site-nav {
		a {
			@include accordion-nav-style;
			background-color:$wwuPaleBlue;
		}
		li { display:block; }
		> li.is-closed:last-child > a,
		> li:not(.is-accordion):last-child > a {
			border-bottom:none;
		}
		ul a { background-color:$wwuPalestBlue; }
		ul ul a { background-color:lighten($wwuPalestBlue, 4%); }
	}

	.is-accordion {
		background-repeat:no-repeat;
		background-position:right top;
		background-color:$wwuPalestBlue;;
		.is-accordion { background-color:lighten($wwuPalestBlue, 4%); }
	}
	.is-open, .is-active-parent {
		background-image:url('http://www.wwu.edu/wwucommon/lite/images/accordion-minus-icon.png');
		cursor:n-resize;
	}
	.is-closed {
		background-image:url('http://www.wwu.edu/wwucommon/lite/images/accordion-plus-icon.png');
		cursor:s-resize;
	}

	//RECTANGLE Marker in the left of active nav item
	.is-active:before {
		display:relative;
		content:'';
		float:left;
		margin-left: -2em;
		margin-top: -.3em;
		width: 1.6em;
		height: 2.35em;
		border-style: solid;
		border-width: 0em 0em 0em .3em;
		border-color: transparent transparent transparent $wwuBlue;
	}
	.main-nav li a.is-active:before {
		margin-top: -.3em;
		height: 2em;
	}

}

%is-accordion-before {
	color:$wwuLtBlue;
	font-size:13px;
	margin-right:.75em;
	vertical-align:top;
}

main .is-accordion {
	cursor:pointer;
	&.is-closed:before {
		content:"\25B6 ";
		@extend %is-accordion-before;
	}
	&.is-open:before {
		content:"\25BC ";
		@extend %is-accordion-before;
	}
}