// Classes created specifically for other users/clients on campus to use in Dreamweaver.
// Prefix all of these with "style-" or "layout-".

.style-centered {}

.style-left {}

.style-right {}

.style-underline {
	border-bottom:solid 1px $wwuGreen;
}

.style-important {}

.style-warning {}

// Ideally would only have one class (".layout-_") per clear-type.
.layout-clear, .clearfix, .clear, .end { clear:both; }
.layout-clear-left, .clear-left { clear:left; }
.layout-clear-right, .clear-right { clear:right; }